{
    "bases": [
        {
            "Srvr": "Server",
            "Ref": "Basename",
            "publications": [
                {
                    "name": "test4",
                    "enable": true,
                    "enableStandardOData": false,
                    "ws": {
                        "publishExtensionsByDefault": false,
                        "wsList": [
                            {
                                "name": "testws",
                                "alias": "testws.1cws",
                                "enable": "true",
                                "reuseSessions": "autouse",
                                "sessionMaxAge": "20",
                                "poolSize": "10",
                                "poolTimeout": "5"
                            }
                        ]
                    },
                    "httpServices": {
                        "publishExtensionsByDefault": true,
                        "publishByDefault": false,
                        "hsList": [
                            {
                                "name": "tesths",
                                "rootUrl": "tesths",
                                "enable": "true",
                                "reuseSessions": "autouse",
                                "sessionMaxAge": "20",
                                "poolSize": "10",
                                "poolTimeout": "5"
                            }
                        ]
                    },
                    "oidc": {
                        "providers": [
                            {
                                "name": "TestConnector",
                                "title": "TestConnector",
                                "authenticationClaimName": "email",
                                "icon": "https://www.TestConnector.com/images/branding/logo-cropped.png",
                                "providerconfig": {
                                    "issuer": "https://auth.example.ru",
                                    "authorization_endpoint": "https://auth.example.ru/api/oidc/authorization",
                                    "token_endpoint": "https://auth.example.ru/api/oidc/token",
                                    "jwks_uri": "https://auth.example.ru/jwks.json",
                                    "userinfo_endpoint": "https://auth.example.ru/api/oidc/userinfo",
                                    "response_types_supported": [
                                        "token id_token"
                                    ],
                                    "scopes_supported": [
                                        "openid",
                                        "email",
                                        "profile"
                                    ]
                                },
                                "clientconfig": {
                                    "authority": "https://auth.example.ru/api/oidc/authorization",
                                    "client_id": "1cbase",
                                    "redirect_uri": "https://1c.example.ru/tg_bot/authform.html",
                                    "response_type": "token id_token",
                                    "scope": "openid email"
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ]
}