export ONEC_USERNAME=onec
export ONEC_PASSWORD=onec
export ONEC_VERSION=8.3.18.1520
export EDT_VERSION=2021.2.7

export DOCKER_USERNAME=jugatsu
export DOCKER_LOGIN=login
export DOCKER_PASSWORD=password

export DOCKER_SYSTEM_PRUNE=false
export NO_CACHE=false
