

.container {
  display: flex;
  height: 100%;
  padding-top: 64px;
  align-items: left;
}


.innerContainer {
  flex: 1;
  overflow: auto;
  flex-direction: column;
}
.publicationsContainer {
  flex: 1;
  overflow: auto;
}

.exportJsonContainer {
  flex: 1;
  display: flex;
  overflow: auto;
}

.exportJsonButton {
  margin-top: auto;
}