.publicationsWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.publicationsContainer {
  flex-grow: 1;
  margin-bottom: 40px; /* или другое значение в зависимости от размера кнопки */
}

.addPublicationButton {
  margin-bottom: -80px;
  align-self: flex-end;
}

.publicationCard {
  height: 200px;
  width: 100%;
}